---
const baseUrl = "https://github.com/Tranylcypromina/yvl/releases/download/v1.0/";

const videos = [
    { id: 'CAM_01', src: `${baseUrl}cam_1.mp4` },
    { id: 'CAM_02', src: `${baseUrl}cam_2.mp4` },
    { id: 'CAM_03', src: `${baseUrl}cam_3.mp4` },
    { id: 'CAM_04', src: `${baseUrl}cam_4.mp4` },
    { id: 'CAM_05', src: `${baseUrl}cam_5.mp4` },
    { id: 'CAM_06', src: `${baseUrl}cam_6.mp4` }
];
---

<div class="onboard-row video-onboard-section tabular-data">
    <div class="video-station">
        {videos.map((vid) => (
            <div class="monitor-cell">
                <div class="monitor-header">
                    <span class="monitor-id">{vid.id}</span>
                </div>
                <div class="monitor-screen">
                    <div class="video-overlay">
                        <span class="blink">REC_</span>
                    </div>
                    
                    <video preload="auto" playsinline muted loop controls>
                        <source src={vid.src} type="video/mp4" />
                    </video>
                </div>
            </div>
        ))}
    </div>
</div>